@import "./src/styles/fonts";
@import "./src/styles/variables";
@import "./src/styles/mixins";

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}



body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: $white;
    line-height: normal;
    display: flex;
    justify-content: center;

}

p {
    margin: 0
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.works,
.features,
.team,
.review,
.blog,
.contact {
    @include baseHorizontalsPaddings;
}

.explore {
    @include mediumHorizontalsPaddings;
}

.header {
    @include smallHorizontalsPaddings;
}



@import "./src/styles/page";
@import './src/styles/socials';
@import "./src/styles/header";
@import "./src/styles/btn";
@import "./src/styles/explore";
@import "./src/styles/present";
@import "./src/styles/works";
@import "./src/styles/features";
@import "./src/styles/team";
@import "./src/styles/review";
@import "./src/styles/blog";
@import "./src/styles/contact";
@import "./src/styles/form";
@import "./src/styles/footer";
@import "./src/styles/icon";
@import "./src/styles/list";
@import "./src/styles/card";
