@font-face {
  font-family: "Poppins";
  src: url("./src/fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("./src/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./src/fonts/SourceSansPro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./src/fonts/SourceSansPro-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("./src/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("./src/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("./src/fonts/SourceSansPro-SemiBold.ttf");
  font-weight: 600;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: #FFFFFF;
  line-height: normal;
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.works,
.features,
.team,
.review,
.blog,
.contact {
  padding: 0 13.5rem;
}
@media all and (max-width: 1170px) {
  .works,
.features,
.team,
.review,
.blog,
.contact {
    padding: 0 5rem;
  }
}
@media all and (max-width: 900px) {
  .works,
.features,
.team,
.review,
.blog,
.contact {
    padding: 0 1.5rem;
  }
}

.explore {
  padding: 0 13.5rem;
}
@media all and (max-width: 1170px) {
  .explore {
    padding: 0 5rem;
  }
}
@media all and (max-width: 900px) {
  .explore {
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .header {
    padding: 0 1.5rem;
  }
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 144rem;
}

.socials {
  display: flex;
  align-items: center;
}
.socials__link:not(:last-child) {
  margin-right: 0.8rem;
}
.socials_explore {
  z-index: 1;
  margin-top: auto;
}
@media all and (max-width: 900px) {
  .socials_explore {
    transform: translateY(-19.5rem);
  }
}
.socials_footer {
  margin-bottom: 1.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 3.5rem;
  align-items: center;
  z-index: 1;
}
@media all and (max-width: 1050px) {
  .header {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }
}
@media all and (max-width: 900px) {
  .header {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    background-color: #FFFFFF;
  }
}
.header__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.8rem;
  color: #FFFFFF;
}
@media all and (max-width: 900px) {
  .header__title {
    color: #333333;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
.header__cover {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 118%;
  object-fit: cover;
}
@media all and (max-width: 385px) {
  .header__cover {
    display: none;
  }
}
.header__cover-mobile {
  display: none;
}
@media all and (max-width: 385px) {
  .header__cover-mobile {
    position: absolute;
    display: block;
    z-index: 0;
    top: 0;
    left: 0;
    width: auto;
    object-fit: cover;
  }
}
.header__nav {
  display: flex;
  padding: 0;
  align-items: center;
}
.header__nav-item {
  font-family: Source Sans Pro;
  font-size: 1.6rem;
  font-weight: 600;
  list-style: none;
  color: #FFFFFF;
}
.header__nav-item:not(:last-child) {
  margin-right: 2.5rem;
}
@media all and (max-width: 900px) {
  .header__nav-item {
    display: none;
  }
}
.header__nav-link {
  text-decoration: none;
  color: #FFFFFF;
}

.btn {
  display: flex;
  border-radius: 2.4rem;
  padding: 1.2rem 4.2rem;
  outline: none;
  border: none;
  background: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #FFFFFF;
  align-items: center;
  font-family: Source Sans Pro;
  cursor: pointer;
  justify-content: center;
  position: relative;
  min-width: 17rem;
  min-height: 4.8rem;
  line-height: 2.3rem;
}
.btn_main {
  border: 1px solid rgba(255, 255, 255, 0.295063);
}
@media all and (max-width: 750px) {
  .btn_main {
    display: none;
  }
}
.btn_burger {
  display: none;
  padding: 0;
  min-width: 2rem;
  min-height: 1.5rem;
}
@media all and (max-width: 900px) {
  .btn_burger {
    display: block;
  }
}
.btn_secondary {
  background-color: #FFC300;
  padding: 1.2rem 5.2rem;
}
.btn_third {
  background-color: #C86DD7;
  padding: 1.2rem 5.2rem;
  margin: 0 auto;
}
.btn_flex-start {
  margin: 0;
}
@media all and (max-width: 1000px) {
  .btn_blog {
    margin: 0 auto;
  }
}
@media all and (max-width: 500px) {
  .btn_blog {
    margin: 0;
  }
}

.explore {
  display: flex;
  flex-direction: column;
  height: 76.8rem;
  overflow: hidden;
  position: relative;
}
@media all and (max-width: 850px) {
  .explore {
    flex-direction: column;
  }
}
@media all and (max-width: 850px) {
  .explore__text {
    margin-bottom: 1rem;
  }
}
.explore__container {
  display: flex;
  z-index: 1;
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4.8rem;
}
@media all and (max-width: 900px) {
  .explore__container {
    flex-direction: column;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 2.3rem;
  }
}
.explore__title {
  font-family: Poppins;
  font-size: 7.2rem;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 7.2rem;
  max-width: 35rem;
  margin-bottom: 2.5rem;
}
@media all and (max-width: 550px) {
  .explore__title {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }
}
.explore__description {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 3.5rem;
  color: #FFFFFF;
  max-width: 37rem;
}
.explore__img {
  max-width: 70.5rem;
  position: absolute;
  top: 7rem;
  right: 0;
}
@media all and (max-width: 1380px) {
  .explore__img {
    width: 60rem;
    height: auto;
    margin-top: 4rem;
  }
}
@media all and (max-width: 1280px) {
  .explore__img {
    width: 50rem;
    height: auto;
    top: 13rem;
  }
}
@media all and (max-width: 1000px) {
  .explore__img {
    width: 41rem;
    height: auto;
    position: relative;
    left: 3rem;
    margin-top: 0;
  }
}
@media all and (max-width: 900px) {
  .explore__img {
    top: 0;
  }
}

.present {
  display: flex;
  align-items: center;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
  padding-left: 13.5rem;
  justify-content: space-between;
  color: #333333;
}
@media all and (max-width: 1050px) {
  .present {
    padding-left: 5rem;
  }
}
@media all and (max-width: 900px) {
  .present {
    padding-left: 1.5rem;
    padding-top: 4.5rem;
    padding-bottom: 4.8rem;
  }
}
@media all and (max-width: 1000px) {
  .present {
    flex-direction: column;
  }
}
@media all and (max-width: 385px) {
  .present {
    align-items: flex-end;
  }
}
.present__mini-title {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
  font-family: "Poppins";
}
.present__title {
  font-size: 5.6rem;
  line-height: 6.4rem;
  margin-bottom: 5.5rem;
  max-width: 49.8rem;
  font-weight: 700;
}
@media all and (max-width: 1000px) {
  .present__title {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}
.present__text-container {
  margin-bottom: 2.4rem;
}
.present__item {
  display: flex;
  align-items: center;
}
.present__text {
  margin-right: 3rem;
}
.present__option {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  font-family: Sans Source Pro;
  margin-right: 0.8rem;
  position: relative;
}
.present__option::after:first-child {
  content: "";
  display: block;
  width: 2rem;
  height: 0.3rem;
  background-color: #C86DD7;
  position: absolute;
  left: 0;
}
.present__description {
  margin-bottom: 2.4rem;
  margin-top: 0.8rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  opacity: 49%;
  max-width: 47rem;
}
.present__img {
  position: relative;
}
@media all and (max-width: 1000px) {
  .present__img {
    margin-top: 5.8rem;
    margin-left: 1rem;
  }
}
.present__front-img {
  position: absolute;
  left: 3.3rem;
  top: -3.2rem;
}
@media all and (max-width: 1380px) {
  .present__front-img {
    width: 80%;
    top: -4.2rem;
  }
}
@media all and (max-width: 1000px) {
  .present__front-img {
    max-width: 35.5rem;
    width: 100%;
    left: 1.6rem;
    top: -2.6rem;
  }
}
@media all and (max-width: 425px) {
  .present__front-img {
    max-width: 31.9rem;
    width: 100%;
    left: 1.6rem;
    top: -1.6rem;
  }
}
@media all and (max-width: 370px) {
  .present__front-img {
    max-width: 28rem;
    width: 100%;
    left: 1rem;
    top: -1.6rem;
  }
}
@media all and (max-width: 1380px) {
  .present__back-img {
    width: 80%;
  }
}
@media all and (max-width: 1000px) {
  .present__back-img {
    max-width: 33.5rem;
    width: 100%;
  }
}
@media all and (max-width: 370px) {
  .present__back-img {
    max-width: 29rem;
  }
}
@media all and (max-width: 1000px) {
  .present__triangle {
    width: 1.3rem;
    height: 1.3rem;
  }
}

.works {
  display: flex;
  flex-direction: column;
  background-color: #FDF2FF;
  padding-top: 6rem;
  padding-bottom: 5rem;
  color: #333333;
}
.works__mini-title {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
  font-family: "Poppins";
}
.works__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.5rem;
}
@media all and (max-width: 1000px) {
  .works__text {
    flex-direction: column;
  }
}
.works__title {
  max-width: 43.1rem;
  font-size: 5.6rem;
  line-height: 6.4rem;
  font-weight: 600;
}
@media all and (max-width: 850px) {
  .works__title {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}
.works__description {
  max-width: 57rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  opacity: 49%;
}
@media all and (max-width: 1320px) {
  .works__description {
    max-width: 45rem;
  }
}
@media all and (max-width: 850px) {
  .works__description {
    margin-top: 2.4rem;
  }
}
.works__nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 3.2rem;
}
.works__nav-link {
  text-decoration: none;
  opacity: 49%;
  color: #333333;
}
.works__nav-link:active {
  opacity: 1;
}
.works__nav-link_active {
  opacity: 1;
}
.works__nav-item {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
@media all and (max-width: 650px) {
  .works__nav-item {
    margin-top: 1rem;
  }
}
.works__nav-item:not(:last-child) {
  margin-right: 3rem;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.1rem;
  padding-bottom: 7.1rem;
}
@media all and (max-width: 900px) {
  .features {
    padding-top: 3.8rem;
    padding-bottom: 3.8rem;
  }
}
.features__title {
  font-size: 5.4rem;
  line-height: 6.4rem;
  margin-bottom: 2.3rem;
}
@media all and (max-width: 850px) {
  .features__title {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}
.features__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  max-width: 57rem;
  font-weight: 600;
  text-align: center;
}
.features__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media all and (max-width: 1380px) {
  .features__cards {
    justify-content: center;
  }
}
.features__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem 2.1rem;
  max-height: 32.4rem;
  max-width: 37rem;
  margin-top: 4rem;
  transition: 0.3s ease-in-out;
  justify-content: flex-end;
}
.features__card:hover {
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
}
@media all and (max-width: 1000px) {
  .features__card:hover {
    box-shadow: none;
  }
}
@media all and (max-width: 850px) {
  .features__card {
    margin-top: 4rem;
    padding: 1.6rem;
  }
}
.features__card-img {
  margin-bottom: 1.3rem;
}
.features__card-title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom: 0.9rem;
}
.features__card-description {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  max-width: 32.2rem;
  opacity: 49%;
}

.team {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-top: 16rem;
  padding-bottom: 21rem;
}
@media all and (max-width: 1050px) {
  .team {
    flex-direction: column-reverse;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
.team__text {
  margin-top: 3rem;
}
.team__mini-title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
  font-weight: 700;
  font-family: "Poppins";
}
.team__title {
  max-width: 35.9rem;
  font-size: 5.6rem;
  line-height: 6.4rem;
  font-weight: 700;
  margin-bottom: 2.3rem;
}
@media all and (max-width: 1050px) {
  .team__title {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}
.team__description {
  max-width: 57rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  max-width: 47rem;
  margin-bottom: 3.2rem;
}
.team__back-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  max-height: 88.8rem;
  object-fit: cover;
}
@media all and (max-width: 1050px) {
  .team__back-img {
    max-height: 107.8rem;
    height: 117%;
  }
}
@media all and (max-width: 400px) {
  .team__back-img {
    display: none;
  }
}
.team__mobile-img {
  display: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  max-height: 116.8rem;
  height: 124%;
  object-fit: cover;
}
@media all and (max-width: 400px) {
  .team__mobile-img {
    display: block;
  }
}
.team__img {
  margin-right: 20rem;
}
.team__pictures {
  position: relative;
  width: 43.1rem;
  height: 39.6rem;
}
.team__pictures-back {
  width: 48.5rem;
  position: absolute;
}
@media all and (max-width: 1050px) {
  .team__pictures-back {
    left: 2.5rem;
    width: 40rem;
    top: 3rem;
  }
}
@media all and (max-width: 400px) {
  .team__pictures-back {
    left: 4.6rem;
    width: 36.3rem;
  }
}
.team__pictures-avatar {
  position: absolute;
}
.team__pictures-avatar:nth-child(3) {
  right: 1%;
  top: 17%;
}
@media all and (max-width: 1050px) {
  .team__pictures-avatar:nth-child(3) {
    width: 9.2rem;
    height: 9.3rem;
    right: 10%;
    top: 22%;
  }
}
@media all and (max-width: 400px) {
  .team__pictures-avatar:nth-child(3) {
    right: 15%;
  }
}
.team__pictures-avatar:nth-child(2) {
  left: 2%;
  top: 3%;
}
@media all and (max-width: 1050px) {
  .team__pictures-avatar:nth-child(2) {
    width: 13.6rem;
    height: 13.9rem;
    left: 8%;
    top: 13%;
  }
}
@media all and (max-width: 400px) {
  .team__pictures-avatar:nth-child(2) {
    left: 16%;
    top: 13%;
    width: 11.5rem;
    height: auto;
  }
}
.team__pictures-avatar:nth-child(4) {
  right: 1%;
  bottom: 21%;
}
@media all and (max-width: 1050px) {
  .team__pictures-avatar:nth-child(4) {
    width: 4rem;
    height: 4.1rem;
    right: 14%;
    bottom: 25%;
  }
}
@media all and (max-width: 400px) {
  .team__pictures-avatar:nth-child(4) {
    right: 18%;
  }
}
.team__pictures-avatar:nth-child(5) {
  right: 20%;
  bottom: -6%;
}
@media all and (max-width: 1050px) {
  .team__pictures-avatar:nth-child(5) {
    width: 6.6rem;
    height: 6.7rem;
    right: 30%;
    bottom: 4%;
  }
}
@media all and (max-width: 400px) {
  .team__pictures-avatar:nth-child(5) {
    width: 5.8rem;
    right: 31%;
    bottom: 11%;
    height: auto;
  }
}
.team__pictures-avatar:nth-child(6) {
  left: 8%;
  bottom: 5%;
}
@media all and (max-width: 1050px) {
  .team__pictures-avatar:nth-child(6) {
    width: 9.2rem;
    height: 9.3rem;
    left: 12%;
    bottom: 13%;
  }
}
@media all and (max-width: 400px) {
  .team__pictures-avatar:nth-child(6) {
    left: 16%;
  }
}

.review {
  display: flex;
  flex-direction: column;
  padding-top: 7.5rem;
  padding-bottom: 9.1rem;
}
@media all and (max-width: 1000px) {
  .review {
    padding-top: 5.4rem;
    padding-bottom: 5.1rem;
  }
}
.review__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.4rem;
}
@media all and (max-width: 1000px) {
  .review__text {
    margin-bottom: 4.8rem;
  }
}
.review__title {
  font-size: 5.4rem;
  line-height: 6.4rem;
  margin-bottom: 2.3rem;
}
@media all and (max-width: 850px) {
  .review__title {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}
.review__description {
  font-size: 1.6rem;
  line-height: 2.4rem;
  max-width: 57rem;
  font-weight: 600;
  text-align: center;
}
@media all and (max-width: 1000px) {
  .review__description {
    margin-bottom: 0;
  }
}
.review__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media all and (max-width: 1000px) {
  .review__cards {
    flex-direction: column;
    align-items: center;
  }
}
.review__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  max-width: 37rem;
  padding: 3.2rem 3.2rem 4.2rem 3.2rem;
  background: #FFFFFF;
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
  border-radius: 3px;
}
.review__card:not(:last-child) {
  margin-right: 3rem;
}
@media all and (max-width: 1000px) {
  .review__card:not(:last-child) {
    margin-right: 0;
  }
}
@media all and (max-width: 1000px) {
  .review__card {
    margin: 0;
    margin-top: 1.6rem;
  }
}
.review__card-img {
  margin-bottom: 1.3rem;
}
.review__card-title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-top: 1.6rem;
  font-weight: 600;
}
.review__card-description {
  font-size: 1.6rem;
  line-height: 2.4rem;
  max-width: 32.2rem;
  opacity: 49%;
}
.review__company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 9.7rem;
}
@media all and (max-width: 1000px) {
  .review__company {
    margin-top: 4.2rem;
    justify-content: center;
  }
}
@media all and (max-width: 650px) {
  .review__company {
    margin-top: 5.2rem;
    justify-content: space-evenly;
  }
}
.review__company-item {
  opacity: 0.49;
}
@media all and (max-width: 1000px) {
  .review__company-item {
    padding: 3rem;
  }
}
@media all and (max-width: 650px) {
  .review__company-item {
    padding: 2rem;
  }
}

.blog {
  display: flex;
  position: relative;
  background-color: #FDF2FF;
  color: #333333;
  padding-top: 14.4rem;
  padding-bottom: 8rem;
  justify-content: space-between;
}
@media all and (max-width: 1000px) {
  .blog {
    flex-direction: column;
    padding-top: 4.5rem;
    padding-bottom: 4.9rem;
    align-items: center;
    text-align: center;
  }
}
@media all and (max-width: 500px) {
  .blog {
    text-align: left;
  }
}
.blog__text {
  margin-top: 2rem;
  margin-right: 1.5rem;
}
@media all and (max-width: 1000px) {
  .blog__text {
    margin-right: 0;
  }
}
.blog__mini-title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins";
}
.blog__title {
  max-width: 46.6rem;
  font-size: 5.6rem;
  line-height: 6.4rem;
  font-weight: 600;
  margin-bottom: 2.3rem;
}
@media all and (max-width: 1000px) {
  .blog__title {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}
.blog__description {
  max-width: 57rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  max-width: 47rem;
  margin-bottom: 3.2rem;
  font-weight: 600;
}
.blog__pictures {
  position: relative;
}
@media all and (max-width: 1000px) {
  .blog__pictures {
    margin-top: 6.7rem;
  }
}
.blog__img {
  position: absolute;
  left: 3.2rem;
  top: -3rem;
}
@media all and (max-width: 1320px) {
  .blog__img {
    width: 90%;
  }
}
@media all and (max-width: 1000px) {
  .blog__img {
    width: 32.9rem;
    left: 1.9rem;
    top: -1.7rem;
  }
}
@media all and (max-width: 500px) {
  .blog__img {
    left: 1.3rem;
    top: -1.9rem;
    width: 32.9rem;
  }
}
@media all and (max-width: 370px) {
  .blog__img {
    left: 1rem;
    top: -2rem;
    width: 28.9rem;
  }
}
@media all and (max-width: 1320px) {
  .blog__back-img {
    width: 90%;
  }
}
@media all and (max-width: 1000px) {
  .blog__back-img {
    width: 32.9rem;
  }
}
@media all and (max-width: 370px) {
  .blog__back-img {
    width: 29.9rem;
  }
}
.blog__card {
  position: absolute;
  left: 7.8rem;
  bottom: 7.8rem;
}
@media all and (max-width: 1000px) {
  .blog__card {
    left: 4.6rem;
    bottom: 4.5rem;
  }
}
@media all and (max-width: 370px) {
  .blog__card {
    left: 3.6rem;
  }
}
.blog__card-title {
  font-family: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #FFFFFF;
  margin-bottom: 0.8rem;
}
@media all and (max-width: 370px) {
  .blog__card-title {
    font-size: 2rem;
  }
}
.blog__card-description {
  font-weight: 400;
  max-width: 47.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  opacity: 0.49;
  margin-bottom: 1.6rem;
}
@media all and (max-width: 370px) {
  .blog__card-description {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}
.blog__person {
  display: flex;
  align-items: center;
}
.blog__name-img {
  margin-right: 2rem;
}
.blog__person-name {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  position: relative;
  overflow: hidden;
  color: #333333;
  padding-top: 13.5rem;
}
@media all and (max-width: 690px) {
  .contact {
    align-items: flex-start;
    padding-top: 7rem;
  }
}
.contact__img {
  position: absolute;
  z-index: -1;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  width: auto;
  object-fit: cover;
}
.contact__mobile-img {
  display: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  max-height: 116.8rem;
  height: 124%;
  object-fit: cover;
}
@media all and (max-width: 400px) {
  .contact__mobile-img {
    display: block;
    left: -2.1rem;
  }
}
.contact__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contact__title {
  max-width: 35.9rem;
  font-size: 5.6rem;
  line-height: 6.4rem;
  font-weight: 600;
  margin-bottom: 2.3rem;
}
@media all and (max-width: 1000px) {
  .contact__title {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}
.contact__description {
  max-width: 57rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 3.2rem;
}
.contact__separator {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  position: relative;
}
.contact__separator::before {
  content: "";
  position: absolute;
  width: 170%;
  height: 1px;
  background-color: black;
  left: -50%;
  bottom: 0;
  opacity: 10%;
}

.form {
  display: flex;
}
.form__input {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1.2rem 1.5rem;
  border: 1px solid #DADADA;
  border-radius: 3px;
  margin-right: 3rem;
  min-height: 5.1rem;
  width: 37rem;
  display: flex;
}
@media all and (max-width: 1000px) {
  .form__input {
    margin: 0 auto;
    margin-bottom: 1.6rem;
    width: 34.6rem;
  }
}
@media all and (max-width: 400px) {
  .form__input {
    width: 27.6rem;
  }
}
.form__input::placeholder {
  color: #333333;
  opacity: 0.49;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  display: flex;
}
.form_contact {
  margin-bottom: 16.5rem;
  outline-width: 0;
}
@media all and (max-width: 1000px) {
  .form_contact {
    display: flex;
    flex-direction: column;
  }
}
@media all and (max-width: 850px) {
  .form_contact {
    margin: 0 auto;
  }
}

.footer {
  display: flex;
  align-items: flex-end;
  padding-top: 6.1rem;
  padding-bottom: 6.1rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
@media all and (max-width: 690px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  max-width: 65rem;
}
@media all and (max-width: 385px) {
  .footer__nav {
    flex-direction: column;
  }
}
@media all and (max-width: 385px) {
  .footer__list {
    margin-bottom: 4rem;
  }
}
.footer__list-title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.footer__list-item {
  font-size: 1.6rem;
  line-height: 2.4rem;
  opacity: 0.49;
}
.footer__list-item:not(:last-child) {
  margin-bottom: 0.8rem;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2.8rem;
}
@media all and (max-width: 650px) {
  .footer__bottom {
    margin-top: 1.8rem;
  }
}
.footer__copyright {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  opacity: 0.49;
}
.footer__line {
  width: 1px;
  height: 1px;
  margin-top: 1rem;
}

.icon {
  cursor: pointer;
}
.icon_burger {
  display: flex;
  flex-direction: column;
  width: 2rem;
  height: 0.3rem;
  background-color: #C86DD7;
  border-radius: 0;
  padding: 0;
  position: relative;
  min-width: 0;
  min-height: 0;
}
.icon_burger::before, .icon_burger::after {
  content: "";
  display: block;
  width: 2rem;
  height: 0.3rem;
  background-color: #C86DD7;
  position: absolute;
  left: 0;
}
.icon_burger::before {
  top: -6px;
}
.icon_burger::after {
  top: 6px;
}
.icon_triangle {
  position: absolute;
  left: -4rem;
  top: 40%;
  padding: 4.3rem 4.1rem 4.3rem 5rem;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0.5rem 0rem 2.8rem rgba(0, 0, 0, 0.1);
}
@media all and (max-width: 1200px) {
  .icon_triangle {
    padding: 3.1rem 2.8rem 2.8rem 3.5rem;
    left: -3.1rem;
    top: 40%;
  }
}
@media all and (max-width: 1000px) {
  .icon_triangle {
    padding: 2.1rem 2rem 2.1rem 2.5rem;
    left: 45%;
    top: 35%;
  }
}

.list___item {
  position: relative;
}
.list___item_active .list__open {
  content: "";
  display: block;
  width: 16.1rem;
  height: 0.8rem;
  background-color: #C86DD7;
  position: absolute;
  left: 0;
  bottom: 3px;
}
.list_present {
  margin: 0;
  padding: 0;
}
.list__item {
  margin-bottom: 2.4rem;
  position: relative;
  list-style: none;
}
.list__item-header {
  display: flex;
  align-items: center;
  position: relative;
}
.list__text {
  margin-right: 1rem;
}
.list__item-option {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  font-family: Sans Source Pro;
  margin-right: 0.8rem;
  position: relative;
}
.list__item-description {
  margin-bottom: 2.4rem;
  margin-top: 0.8rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  opacity: 49%;
  max-width: 47rem;
}

.card {
  position: relative;
  cursor: pointer;
}
.card__list {
  align-items: center;
  display: flex;
  margin-bottom: 4.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.card__img {
  margin-right: 1rem;
}
@media all and (max-width: 1320px) {
  .card__img {
    max-width: 34.6rem;
    width: 100%;
  }
}
@media all and (max-width: 1280px) {
  .card__img {
    margin-top: 1.7rem;
  }
}
@media all and (max-width: 850px) {
  .card__img {
    max-width: 34.6rem;
    height: auto;
  }
}
.card__text {
  position: absolute;
  left: 3.2rem;
  bottom: 2.6rem;
}
.card__title {
  color: #FFFFFF;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.card__description {
  opacity: 49.8%;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}
.card__overlay {
  display: none;
}
.card__overlay:active {
  position: absolute;
  display: block;
}
.card_blog {
  position: relative;
}
@media all and (max-width: 1000px) {
  .card_blog {
    margin-top: 6.7rem;
  }
}
.card_blog__img {
  position: absolute;
  left: 3.3rem;
  top: -3rem;
}
@media all and (max-width: 1320px) {
  .card_blog__img {
    width: 90%;
  }
}
@media all and (max-width: 1000px) {
  .card_blog__img {
    width: 32.9rem;
    left: 1.9rem;
    top: -1.7rem;
  }
}
@media all and (max-width: 1320px) {
  .card_blog__back-img {
    width: 90%;
  }
}
@media all and (max-width: 1000px) {
  .card_blog__back-img {
    width: 32.9rem;
  }
}
.card_blog__card {
  position: absolute;
  left: 7.8rem;
  bottom: 7.8rem;
}
@media all and (max-width: 1000px) {
  .card_blog__card {
    left: 4.6rem;
    bottom: 4.5rem;
  }
}
.card_blog__title {
  font-family: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #FFFFFF;
  margin-bottom: 0.8rem;
}
.card_blog__card-description {
  font-weight: 400;
  max-width: 47.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  opacity: 0.49;
  margin-bottom: 1.6rem;
}
.card_blog__person {
  display: flex;
  align-items: center;
}
.card_blog__name-img {
  margin-right: 2rem;
}
.card_blog__person-name {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}

/*# sourceMappingURL=index.css.map */
