.blog {

    display: flex;
    position: relative;
    background-color: $lightrose;
    color: $black;
    padding-top: 14.4rem;
    padding-bottom: 8rem;
    justify-content: space-between;

    @media all and (max-width:1000px) {
        flex-direction: column;
        padding-top: 4.5rem;
        padding-bottom: 4.9rem;
        align-items: center;
    }

    &__text {
        margin-top: 2rem;
        margin-right: 1.5rem;

        @media all and (max-width:1000px) {
            margin-right: 0;
        }
    }

    &__mini-title {
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-transform: uppercase;
        margin-bottom: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins";
    }

    &__title {
        max-width: 46.6rem;
        font-size: 5.6rem;
        line-height: 6.4rem;
        font-weight: 600;
        margin-bottom: 2.3rem;

        @media all and (max-width:1000px) {
            font-size: 4rem;
            line-height: 4.8rem;
        }

    }

    &__description {
        max-width: 57rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        max-width: 47rem;
        margin-bottom: 3.2rem;
        font-weight: 600;
    }

    &__pictures {
        position: relative;

        @media all and (max-width:1000px) {
            margin-top: 6.7rem;
        }
    }

    &__img {
        position: absolute;
        left: 32px;
        top: -30px;


        @media all and (max-width:1320px) {
            width: 90%;
        }

        @media all and (max-width:1000px) {
            width: 32.9rem;
            left: 19px;
            top: -17px;
        }
    }

    &__back-img {
        @media all and (max-width:1320px) {
            width: 90%;
        }

        @media all and (max-width:1000px) {
            width: 32.9rem;
        }
    }

    &__card {
        position: absolute;
        left: 78px;
        bottom: 78px;

        @media all and (max-width:1000px) {
            left: 46px;
            bottom: 45px;
        }
    }

    &__card-title {
        font-family: 700;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: $white;
        margin-bottom: 0.8rem;
    }

    &__card-description {
        font-weight: 400;
        max-width: 47.4rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $white;
        opacity: 0.49;
        margin-bottom: 1.6rem;
    }

    &__person {
        display: flex;
        align-items: center;
    }

    &__name-img {
        margin-right: 2rem;
    }

    &__person-name {
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $white;
    }

}