.btn {
    display: flex;
    border-radius: 2.4rem;
    padding: 1.2rem 4.2rem;
    outline: none;
    border: none;
    background: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: $white;
    align-items: center;
    font-family: Source Sans Pro;
    cursor: pointer;
    justify-content: center;
    position: relative;
    min-width: 17rem;
    min-height: 4.8rem;


    &_main {
        border: 1px solid $grey;

        @media all and (max-width: 750px) {
            display: none;
        }
    }

    &_burger {
        display: none;
        padding: 0;
        min-width: 2rem;
        min-height: 1.5rem;

        @media all and (max-width: $screen_phablet) {
            display: block;
        }
    }



    

    &_secondary {
        background-color: $orange;
        padding: 1.2rem 5.2rem;
    }

    &_third {
        background-color: $violet;
        padding: 1.2rem 5.2rem;
        margin: 0 auto;
    }

    &_flex-start {
        margin: 0;
    }

}
