.explore {
    display: flex;
    flex-direction: column;
    height: 76.8rem;
    overflow: hidden;
    position: relative;


    @media all and (max-width: $screen_phablet-small) {
        flex-direction: column;
    }


    &__text {

        @media all and (max-width: $screen_phablet-small) {
            margin-bottom: 1rem;
        }

    }

    &__container {
        display: flex;
        z-index: 1;
        position: relative;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 4.8rem;

        @media all and (max-width:$screen_phablet) {
            flex-direction: column;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            padding-top: 2.3rem;
        }
    }


    &__title {
        font-family: Poppins;
        font-size: 7.2rem;
        color: $white;
        font-weight: 700;
        line-height: 7.2rem;
        max-width: 35rem;
        margin-bottom: 2.5rem;


        @media all and (max-width: $screen_phone_bigger) {
            font-size: 5.6rem;
            line-height: 6.4rem;
        }
    }

    &__description {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 3.5rem;
        color: $white;
        max-width: 37rem;
    }

    &__img {
        max-width: 70.5rem;
        position: absolute;
        top: 7rem;
        right: 0;

        @media all and (max-width: $screen_desktop-big) {
            width: 60rem;
            height: auto;
            margin-top: 4rem;
        }

        @media all and (max-width: $screen_desktop-medium) {
            width: 50rem;
            height: auto;
            top: 15rem;
        }

        @media all and (max-width: $screen_phablet-big) {
            width: 41rem;
            height: auto;
            position: relative;
            left: 3rem;
            margin-top: 0;
        }

        @media all and (max-width: $screen_phablet) {
            top: 0;
        }
    }


}