.footer {
    display: flex;
    align-items: flex-end;
    padding-top: 6.1rem;
    padding-bottom: 6.1rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;



    @media all and (max-width: $screen_phablet-smallest) {
        flex-direction: column;
        align-items: flex-start;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        max-width: 65rem;

        @media all and (max-width: $screen_phone) {
            flex-direction: column;
        }
    }

    &__list {
        @media all and (max-width: $screen_phone) {
            margin-bottom: 4rem;
        }
    }

    &__list-title {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
    }

    &__list-item {
        font-size: 1.6rem;
        line-height: 2.4rem;
        opacity: 0.49;

        &:not(:last-child) {
            margin-bottom: 0.8rem;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2.8rem;

        @media all and (max-width: $screen_phone_very-big) {
            margin-top: 1.8rem;
        }
    }

    &__copyright {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        opacity: 0.49;
    }

    &__line {
        width: 1px;
        height: 1px;
        margin-top: 1rem;
    }
}