.footer {
    display: flex;
    align-items: flex-end;
    padding: 6.1rem 0;

    &__nav {
        display: flex;
    }

    &__list {
        margin-right: 23rem;
    }

    &__list-title {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
    }

    &__list-item {
        font-size: 1.6rem;
        line-height: 2.4rem;
        opacity: 0.49;

        &:not(:last-child) {
            margin-bottom: 0.8rem;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__copyright {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        opacity: 0.49;
    }
}