.form {
    display: flex;


    &__input {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.4rem;
        padding: 1.2rem 1.5rem;
        border: 1px solid $borderwhite;
        border-radius: 3px;
        margin-right: 3rem;
        min-height: 5.1rem;
        width: 37rem;
        display: flex;

        @media all and (max-width: $screen_phablet-big) {
            margin: 0 auto;
            margin-bottom: 1.6rem;
            width: 34.6rem;
        }

        @media all and (max-width: $screen_phone_medium) {
            width: 27.6rem;
        }


        &::placeholder {
            color: $black;
            opacity: 0.49;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.4rem;
            display: flex;
        }
    }


    &_contact {
        margin-bottom: 16.5rem;
        outline-width: 0;

        @media all and (max-width: $screen_phablet-big) {
            display: flex;
            flex-direction: column;
            
        }

        @media all and (max-width: $screen_phablet-small) {
            margin: 0 auto;
        }
    }
}