.form {
    display: flex;
    

    &__input {
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.4rem;
        padding: 1.2rem 1.5rem;
        border: 1px solid rgba($color: $black, $alpha: 0.49);
        border-radius: 3px;
        margin-right: 3rem;
        min-height: 5.1rem;
        min-width: 33rem;
        display: flex;


        &::placeholder {
            color: $black;
            opacity: 0.49;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.4rem;
            display: flex;
        }
    }


    &_contact {
        margin-bottom: 16.5rem;
    }
}