.list {

    $this: &;

    &___item {
        position: relative;

        &_active {
            #{$this}__open {
                content: "";
                display: block;
                width: 16.1rem;
                height: 0.8rem;
                background-color: $violet;
                position: absolute;
                left: 0;
                bottom: 3px;
            }
        }
    }

    &_present {
        margin: 0;
        padding: 0;
    }

    &__item {
        margin-bottom: 2.4rem;
        position: relative;
        list-style: none;
    }

    &__item-header {
        display: flex;
        align-items: center;
        position: relative;


    }

    &__text {
        margin-right: 1rem;
    }

    &__item-option {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 600;
        font-family: Sans Source Pro;
        margin-right: 0.8rem;
        position: relative;

    }

    &__item-description {
        margin-bottom: 2.4rem;
        margin-top: 0.8rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        opacity: 49%;
        max-width: 47rem;
    }
}