.present {
    display: flex;
    align-items: center;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
    padding-left: 13.5rem;
    justify-content: space-between;
    color: $black;

    @media all and (max-width: $screen_desktop-small) {
        padding-left: 5rem;
    }


    @media all and (max-width: $screen_phablet) {
        padding-left: 1.5rem;
        padding-top: 4.5rem;
        padding-bottom: 4.8rem;
    }

    @media all and (max-width: $screen_phablet-big) {
        flex-direction: column;
    }

    &__mini-title {
        font-weight: 700;
        font-size: 1.6rem;
        margin-bottom: 1.8rem;
        text-transform: uppercase;
        font-family: "Poppins";
    }

    &__title {
        font-size: 5.6rem;
        line-height: 6.4rem;
        margin-bottom: 5.5rem;
        max-width: 49.8rem;
        font-weight: 700;

        @media all and (max-width: $screen_phablet-big) {
            font-size: 4rem;
            line-height: 4.8rem;
        }
    }

    &__text-container {
        margin-bottom: 2.4rem;
    }

    &__item {
        display: flex;
        align-items: center;

    }

    &__text {
        margin-right: 3rem;
    }

    &__option {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 600;
        font-family: Sans Source Pro;
        margin-right: 0.8rem;
        position: relative;

        &::after:first-child {
            content: "";
            display: block;
            width: 2rem;
            height: 0.3rem;
            background-color: $violet;
            position: absolute;
            left: 0;

        }
    }

    &__description {
        margin-bottom: 2.4rem;
        margin-top: 0.8rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        opacity: 49%;
        max-width: 47rem;
    }


    &__img {
        position: relative;

        @media all and (max-width: $screen_phablet-big) {
            margin-top: 5.8rem;
        }

    }

    &__front-img {
        position: absolute;
        left: 3.3rem;
        top: -3.2rem;

        @media all and (max-width: $screen_desktop-big) {
            width: 80%;
        }

        @media all and (max-width: $screen_phablet-big) {
            max-width: 35.5rem;
            width: 100%;
            left: 1.6rem;
            top: -2.6rem;
        }

        @media all and (max-width: $screen_phone_regular) {
            max-width: 34rem;
            width: 100%;
            left: 1.6rem;
            top: -.6rem;
        }

        @media all and (max-width: $screen_phone) {
            max-width: 28rem;
            width: 100%;
            left: 1rem;
            top: -1.6rem;
        }
    }

    &__back-img {
        @media all and (max-width: $screen_desktop-big) {
            width: 80%;
        }

        @media all and (max-width: $screen_phablet-big) {
            max-width: 35.5rem;
            width: 100%;
        }

        @media all and (max-width: $screen_phone) {
            max-width: 29rem;
        }
    }

    &__triangle {
        @media all and (max-width: $screen_phablet-big) {
            width: 1.3rem;
            height: 1.3rem;
        }
    }

}