.socials {

    display: flex;
    align-items: center;

    &__link {

        &:not(:last-child) {
            margin-right: 0.8rem;
        }
    }

    &_explore {
        z-index: 1;
        margin-top: auto;

        @media all and (max-width: $screen_phablet) {
            transform: translateY(-19.5rem);
        }
    }


    &_footer {
        margin-bottom: 1.4rem;
    }
}