.team {

    display: flex;
    flex-direction: row-reverse;
    position: relative;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-top: 16rem;
    padding-bottom: 21rem;

    @media all and (max-width:$screen_desktop-small) {
        flex-direction: column-reverse;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    &__text {
        margin-top: 3rem;
    }

    &__mini-title {
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-transform: uppercase;
        margin-bottom: 1.8rem;
        font-weight: 700;
        font-family: "Poppins";
    }

    &__title {
        max-width: 35.9rem;
        font-size: 5.6rem;
        line-height: 6.4rem;
        font-weight: 700;
        margin-bottom: 2.3rem;

        @media all and (max-width: $screen_desktop-small) {
            font-size: 4rem;
            line-height: 4.8rem;
        }
    }

    &__description {
        max-width: 57rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 600;
        max-width: 47rem;
        margin-bottom: 3.2rem;
    }

    &__back-img {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        max-height: 88.8rem;
        object-fit: cover;

        @media all and (max-width: $screen_desktop-small) {
            max-height: 107.8rem;
            height: 117%;
        }

        @media all and (max-width: $screen_phone_medium) {
            display: none;
        }
    }

    &__mobile-img {
        display: none;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        max-height: 116.8rem;
        height: 124%;
        object-fit: cover;

        @media all and (max-width: $screen_phone_medium) {
            display: block;
        }

    }

    &__img {
        margin-right: 20rem;
    }

    &__pictures {
        position: relative;
        width: 43.1rem;
        height: 39.6rem;
    }

    &__pictures-back {
        width: 48.5rem;
        position: absolute;

        @media all and (max-width: $screen_desktop-small) {
            left: 2.5rem;
            width: 40rem;
            top: 3rem;
        }

        @media all and (max-width: $screen_phone_medium) {
            left: 4.6rem;
            width: 36.3rem;
        }
    }

    &__pictures-avatar {
        position: absolute;

        &:nth-child(3) {
            right: 1%;
            top: 17%;

            @media all and (max-width: $screen_desktop-small) {
                width: 9.2rem;
                height: 9.3rem;
                right: 10%;
                top: 22%;
            }

            @media all and (max-width: $screen_phone_medium) {
                right: 15%;
            }
        }

        &:nth-child(2) {
            left: 2%;
            top: 3%;

            @media all and (max-width: $screen_desktop-small) {
                width: 13.6rem;
                height: 13.9rem;
                left: 8%;
                top: 13%;
            }

            @media all and (max-width: $screen_phone_medium) {
                left: 16%;
                top: 13%;
                width: 11.5rem;
                height: auto;
            }
        }

        &:nth-child(4) {
            right: 1%;
            bottom: 21%;

            @media all and (max-width: $screen_desktop-small) {
                width: 4rem;
                height: 4.1rem;
                right: 14%;
                bottom: 25%;
            }

            @media all and (max-width: $screen_phone_medium) {
                right: 18%;
            }
        }

        &:nth-child(5) {
            right: 20%;
            bottom: -6%;

            @media all and (max-width: $screen_desktop-small) {
                width: 6.6rem;
                height: 6.7rem;
                right: 30%;
                bottom: 4%;
            }

            @media all and (max-width: $screen_phone_medium) {
                width: 5.8rem;
                right: 31%;
                bottom: 11%;
                height: auto;
            }
        }

        &:nth-child(6) {
            left: 8%;
            bottom: 5%;

            @media all and (max-width: $screen_desktop-small) {
                width: 9.2rem;
                height: 9.3rem;
                left: 12%;
                bottom: 13%;
            }

            @media all and (max-width: $screen_phone_medium) {
                left: 16%;
            }
        }
    }
}