$orange: #FFC300;
$white: #FFFFFF;
$violet: #C86DD7;
$blue: #3023AE;
$grey: rgba(255, 255, 255, 0.295063);
$black: #333333;
$lightrose: #FDF2FF;
$borderwhite: #DADADA;

// Resolution 
$screen_phablet: 900px;
$screen_phablet-big: 1000px;
$screen_phablet-small: 850px;
$screen_phablet-smallest: 690px;
$screen_desktop-big: 1380px;
$screen_desktop: 1320px;
$screen_desktop-medium: 1280px;
$screen_desktop-small: 1050px;
$screen_desktop-tiny: 1170px;
$screen_desktop-regular: 1200px;
$screen_phone_big: 500px;
$screen_phone_bigger: 550px;
$screen_phone_very-big: 650px;
$screen_phone_large: 750px;
$screen_phone: 385px;
$screen_phone_regular: 425px;
$screen_phone_medium: 400px;
$screen_phone_smallest: 370px;