$orange: #FFC300;
$white: #FFFFFF;
$violet: #C86DD7;
$blue: #3023AE;
$grey: rgba(255, 255, 255, 0.295063);
$black: #333333;
$lightrose: #FDF2FF;
$borderwhite: #DADADA;

// Resolution 
$screen_phablet: 900px;
$screen_phablet-big: 1000px;
$screen_phablet-small: 850px;
$screen_phablet-smallest: 690px;
$desktop-big: 1380px;
$desktop: 1320px;
$desktop-small: 1050px;
$desktop-tiny: 1170px;
$phone_big: 500px;
$phone_very-big: 650px;
$phone_large: 750px;

$phone: 385px;
$phone_medium: 400px;
