$orange: #FFC300;
$white: #FFFFFF;
$violet: #C86DD7;
$blue: #3023AE;
$grey: rgba(255, 255, 255, 0.295063);
$black: #333333;
$lightrose: #FDF2FF;
$borderwhite: #DADADA;

// Resolution 
$screen_phablet: 900px;