.works {
    display: flex;
    flex-direction: column;
    background-color: $lightrose;
    padding-top: 6rem;
    padding-bottom: 5rem;
    color: $black;


    &__mini-title {
        font-weight: 700;
        font-size: 1.6rem;
        margin-bottom: 1.8rem;
        text-transform: uppercase;
        font-family: "Poppins";
    }

    &__text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5.5rem;

        @media all and (max-width: $screen_phablet-big) {
            flex-direction: column;
        }
    }

    &__title {
        max-width: 43.1rem;
        font-size: 5.6rem;
        line-height: 6.4rem;
        font-weight: 600;

        @media all and (max-width: $screen_phablet-small) {
            font-size: 4rem;
            line-height: 4.8rem;
        }
    }

    &__description {
        max-width: 57rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        opacity: 49%;

        @media all and (max-width: $screen_desktop) {
            max-width: 45rem;
        }

        @media all and (max-width: $screen_phablet-small) {
            margin-top: 2.4rem;
        }
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 3.2rem;
    }

    &__nav-link {
        text-decoration: none;
        opacity: 49%;
        color: $black;

        &:active {
            opacity: 1;
        }
    }

    &__nav-item {
        font-size: 1.6rem;
        line-height: 2.4rem;

        @media all and (max-width: $screen_phone_very-big) {
            margin-top: 1rem;
        }


        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
}